<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-3 fh5co-widget">
                <h4>About G.Crawler</h4>
                <p>Thu thập dữ liệu gia vàng trong nước từ các nguồn uy tín sau đó dựa trên dữ liệu dự đoán giá vàng ngày kế tiếp</p>
            </div>
            <div class="col-md-3 col-md-push-1">
                <h4>Thành viên</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="#">Phạm Anh Tuấn</a></li>
                    <li><a href="#">Google search</a></li>
                    <li><a href="#">GC v0.0.0</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-md-push-1">
                <h4>Links</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="/">Giá Vàng VN</a></li>
                    <li><a href="#">Đự đoán giá vàng</a></li>
                    <li><a href="#">Cổ phiếu các công ty lớn</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Contact Information</h4>
                <ul class="fh5co-footer-links">
                    <li>Tân Phú, Tân Bình, Dĩ An, Bình Dương <br> Đường Bùi Thị Xuân</li>
                    <li><a href="tel://1234567920">+84 944 734 501</a></li>
                    <li><a href="mailto:phamanhtuan24031999@gmail.com">phamanhtuan24031999@gmail.com</a></li>
                    <li><a href="https://www.facebook.com/ATuanIT/">AnhTuanIT Site</a></li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2020 AnhTuanIT. All Rights Reserved.</small>
                    <small class="block">Designed by <a href="#" target="_blank">AnhTuanIT</a> Demo Images: <a href="#" target="_blank">AnhTuanIT</a></small>
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/ATuanIT/"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>
    </footer>
</div>