<div class="top-menu">
    <div class="row">
        <div class="col-xs-2">
            <div id="fh5co-logo"><a href="/">G.Crawler</a></div>
        </div>
        <div class="col-xs-10 text-right menu-1">
            <ul>
                <li id="index"><a href="/">Giá Vàng VN</a></li>
                <li id="dudoan"><a href="/dudoan">Dự đoán giá vàng VN</a></li>
                <li id="cophieu" class="has-dropdown">
                    <a href="/cophieu">Cổ phiếu các công ty lớn</a>
                    <ul class="dropdown">
                        <li><a href="#">VinGroup</a></li>
                        <li><a href="#">Vinamilk</a></li>
                        <li><a href="#">BIDV</a></li>
                        <li><a href="#">FPT</a></li>
                    </ul>
                </li>
                <li id="about"><a href="/about">About</a></li>
                <li id="contact"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>

</div>